# SPDX-License-Identifier: GPL-3.0-or-later
# SPDX-FileCopyrightText: Copyright (C) 2026 River Games

config GPT
    bool "gpt partition table"
    default y
    help
      Enable GPT partition table?

config CONSOLE
    bool "console support"
    default y
    help
      Enable console support?
