# SPDX-License-Identifier: GPL-3.0-or-later
# SPDX-FileCopyrightText: Copyright (C) 2026 River Games

config UART
    bool "uart console"
    default y
    help
      Enable UART console? This works similar to serial.
    depends on CONSOLE
