config VGA_CONSOLE
    bool "vga console"
    default y
    help
      Enable VGA console?
    depends on CONSOLE

config SERIAL_CONSOLE
    bool "serial console"
    default y
    help
      Enable serial console?
    depends on CONSOLE

config PS2_KEYBOARD
    bool "ps2 keyboard"
    default y
    help
      Enable PS/2 keyboard support?
